<div class="box">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= gravatar_image_tag(post.user.name, size: 64, alt: post.user.email, class: "is-rounded") %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to post.user.name, user_path(post.user) %></strong>
          <br>
          <%= post.content %>
          <br>
          <small><span class="icon"><%= like_or_dislike_icon(post) %></span><%= like_or_dislike_btn(post) %> · <%= post.created_at.strftime("%Y/%m/%d at %I:%M %p") %></small>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"><%= pluralize(post.likes.count, 'like') %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"><%= pluralize(post.comments.count, 'comment') %></p>
            </div>
          </div>
        </div>
      </nav>
      
      
      <% post.comments.each do |comment| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <%= gravatar_image_tag(comment.user.name, size: 48, alt: comment.user.email, class: "is-rounded") %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
                <br>
                <%= comment.content %>
                <br>
                <small><%= comment.created_at.strftime("%Y/%m/%d at %I:%M %p") %></small>
              </p>
            </div>
          </div>
        </article>
      <% end %>
      
    </div>
  </article>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= gravatar_image_tag(current_user.name, size: 64, alt: current_user.email, class: "is-rounded") %>
      </p>
    </figure>
    <div class="media-content">
      <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>

        <div class="field">
          <p class="control" data-controller="post-form" data-post-form-maximum="200">
            <%= form.text_area :content, id: :comment_content, class: 'textarea', placeholder: 'Add a comment...', data: { target: "post-form.body", action: "keyup->post-form#update" } %>
            <progress class="progress is-small" style="margin-top:0.5rem" data-target="post-form.characterCount" value="" max="200"></progress>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= form.submit 'Post comment', class: 'button is-success' %>
          </p>
        </div>
        
      <% end %>
    </div>
  </article>
</div>
