<!DOCTYPE html>
<html>
  <head>
    <title>StayInTouch!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title has-text-white-light has-text-weight-bold">Stay in touch!</h1>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Timeline', posts_path, class: "navbar-item" %>
          <%= link_to 'All users', users_path, class: "navbar-item" %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                
                  <%= link_to current_user.name, current_user, class: "button is-link" %>
                
                
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button" %>
                
              <% else %>
              
                <%= link_to 'Log In', user_session_path, class: "button is-success" %>
              

                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-link" %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if notice.present? %>
      <div class="notification is-success is-light">
        <button class="delete"></button>
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <p> <%= alert %> </p>
      </div>
    <% end %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    
  </body>
</html>
